<?xml version="1.0" encoding="UTF-8"?>
<beans default-merge="false" xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<bean id="enggCourse" class="com.nt.Beans.EnggCourse" abstract="true">
		<property name="corse">
			<list>
				<value>English</value>
				<value>C Language</value>
			</list>
		</property>
	</bean>
	
	<bean id="Mechanical" class="com.nt.Beans.EnggCourse" parent="enggCourse">
		<property name="corse">
				<list merge="true">
					<value>Course-X</value>
					<value>Course-Y</value>
				</list>
		</property>
	</bean>
	
</beans>
