<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- Dependent Class Cfgs... -->
	<bean id="bk1" class="com.nt.Beans.BankImpl" >
		<property name="bankName" value="SBI"/>
		<property name="bankAddrs" value="Kakatpur"/>
	</bean>
	<bean id="bk2" class="com.nt.Beans.BankImpl">
		<property name="bankName" value="ICICI"/>
		<property name="bankAddrs" value="Kakatpur"/>
	</bean>
	
	<bean id="date" class="java.util.Date"/>
	
	<!-- Target Class Cfgs.. -->
	<bean id="customer" class="com.nt.Beans.Customer"/>
	<!-- Annotation Cfgs... -->
	<!-- <context:annotation-config/> -->
	<!-- AutoWired BeanPost Processor Cfgs... -->
	<bean id="awbpp" class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
</beans>
